@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Manrope:wght@200&family=Open+Sans:wght@300;400&display=swap');

/* FORM CSS */

.auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

label {
  text-align: left;
  font: normal normal 600 16px/22px Manrope;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  padding: 0.5em;
}

.auth input {
  width: 500px;
  height: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 11px;
  opacity: 1;
}

.already {
  text-align: center;
  font: normal normal medium 16px/22px Manrope;
  letter-spacing: 0px;
  color: #222222;
  padding-top: 1em;
}

.signup {
  background: #222222 0% 0% no-repeat padding-box;
  border-radius: 11px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 16px/22px Manrope;
  color: #ffffff;
  opacity: 1;
  width: 100px;
  height: 35px;
  border: none;
  margin-top: 1.5em;
  margin-bottom: 0.7sem;
}

.signup:hover {
  background-color: transparent;
  border: 1px solid #222222;
  color: #222222;
  cursor: pointer;
}

a.github {
  padding: 0.5em;
}

/* BUTTONS */

.github {
  width: 100px;
  height: 35px;
  border: 1px solid #222222;
  border-radius: 11px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 16px/22px Manrope;
  color: #222222;
  opacity: 1;
  margin-top: 1em;
  text-decoration: none;
}

/* IMAGE */

.loginimage {
  padding: 2.2em;
}

.error-message {
  padding: 1em;
  color: red;
}

.recruitercircle {
  position: relative;
}

.recruitercircle:before {
  content: 'recruiter';
  position: absolute;
  background-image: url('../assets/svg/circle-sign-up.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#forrecruiter {
  display: flex;
  justify-content: center;
}

.candidatercircle {
  position: relative;
}

.candidatecircle:before {
  content: 'candidate';
  position: absolute;
  background-image: url('../assets/svg/circle-sign-up.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
