.submit {
  border: none;
  border-radius: 11px;
  opacity: 1;
  background: #222222 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal 600 16px/22px Manrope;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
