/* BUTTONS */

.submit {
  border: none;
  cursor: pointer;
  border-radius: 11px;
  opacity: 1;
  background: #222222 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal 600 16px/22px Manrope;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  width: 100px;
  height: 35px;
  margin-top: 0.3em;
}

.delete {

  text-align: center;
  font: normal normal medium 16px/22px Manrope;
  letter-spacing: 0px;
  color: #FD4747;
  opacity: 1;
}

/* MULTISELECT AND FORM */

.rmsc .dropdown-heading {
  width: 400px;
  font: normal normal medium 16px/22px Manrope;

}

.rmsc .dropdown-heading .dropdown-heading-value {
  display:flex;

}

.description{
  text-align: center;
  margin: 1em;
  margin-bottom: 2em
}


.section_text {
  display: inline-block;
  position: relative;
}

.section_text::before {
  content: 'Edit';
  position: absolute;
  left: 0;
  background-image: url('../assets/svg/circle-edit.svg');
  background-repeat: no-repeat;
  background-size: 100%
}

/* .hidden {
  display: none
} */

.form-group-one{
  display:flex;
  flex-direction: column;
  background-color: lightgrey
}

/* IMAGE */

.cloud {
  border: solid 1px;
  padding: 0.7em;
  padding-left: 2em;
  padding-right: 2em;
}

/* TEXT */

.success-message-two {

  color: grey;
}

#file-upload-button {
  color:white
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cloudinaryinput {
  background-color: lightgray;
  border: none;
}

.usernameinput {
  border-radius:0.4em;
  font-family: Manrope;
  font-size: 16px;
  width: 400px;
  text-align: center
}

.delete-account {
  font-family: Manrope;
  font-weight: 600;
  color: red;
  margin-top: 1.2em;
}

.EditProfile {

  text-align: center;
}
