.githuub-repo-list {
  list-style: none;
}
.githuub-repo-list {
  list-style: none;
  margin-left: 0;
}
/* Candidate Profile details on the left side */
.profileInfo-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}
.profileInfo-details-container {
  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
}
.github-container {
  text-align: left;
}

.top-card-container {
  position: relative;
}
.candidate-name {
  color: #ffffff;
  font: bold bold 600 16px Manrope;
  margin: 0;
  margin-bottom: 0.1em;
  font-size: 50px;
}
.candidate-text {
  color: #ffffff;
  font: bold bold 600 16px Manrope;
}

/* candidate name card backgroud */
.top-card-container {
  background-image: url('../assets/name-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.2em;
}

.left-container-title {
  font: normal normal 600 Manrope;
  color: #303df6;
  font-size: 16px;
  text-align: left;
}

.repos-link {
  color: inherit;
  margin-left: 10px;
}

.linkImage {
  width: 18px;
}
.left-container-text {
  letter-spacing: 0px;
  color: #222222;
  font-family: Manrope;
  font-weight: 600;
  list-style: none;
  padding: 1rem;
}

.cv-save-profilecard.hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
 }

 .cv-save-profilecard:hover .hover {
  opacity: 1;
 }
