@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.filter-container {
  text-align: left;
}
h4 {
  color: #303df6;
  font-size: 16px;
}
.filter-checkbox {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-left: 40px;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
}

.label {
  color: black;
  text-align: left;
  font-size: 14px;
}
